<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
        <img src="https://cdn.shopify.com/s/files/1/2345/4473/files/HWLA_Logo_BLK_b8f029da-2503-43f5-b9ea-7d74bac7f135.jpg?height=628&pad_color=fff&v=1507077496&width=1200" width="120" height="30"></a>

    <div class="collapse navbar-collapse" id="navbarCollapse">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/articles">MAKALELER </a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/about">HAKKIMIZDA </a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            {% if session["logged_in"] %}
                <li class="nav-item active">
                    <a class="nav-link" href="/dashboard">DASHBOARD</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="/logout">ÇIKIŞ YAP </a>
                </li>
            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="/login">GİRİŞ YAP </a>
                </li>
            {% endif %}
            
            <li class="nav-item active">
                <a class="nav-link" href="/register">KAYDOL </a>
            </li>
        </ul>
    </div>
</nav>