{% extends "layout.html" %} 

{% block body %}
{% from "includes/formhelpers.html" import render_field %}

<div class="card border-warning mb-3 container"
  style="max-width: 35%;
    max-height: 100%;
    background-color: white;
    top: 100px;
    border-radius: 10%;">

  <br>
  <div class="card-header " style="padding-left: 42%;" >Login Page</div>
  
  <div class="card-body text-warning">
    <form method="post" class="form-signin">
        {{ render_field(form.username) }}
      <br>
        {{ render_field(form.password) }}
                
      <div class="checkbox mb-2">
        <br>
        <label>
          <input  type="checkbox" value="remember-me"> Remember me
        </label>
      </div>

      <button class="btn btn-lg btn-warning btn-block" type="submit">Login</button>
  </form>
  </div>
</div>


{% endblock %}